In [40]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import seaborn as sns
from keras.layers import Dense, BatchNormalization, Dropout, LSTM
from keras.models import Sequential
from keras.utils import to_categorical
from sklearn.metrics import precision_score, recall_score, confusion_matrix, classification_report, accuracy_score, f1_score
from tensorflow import keras

In [41]:
#loading data
data = pd.read_csv("heart_failure_clinical_records_dataset.csv")
data.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [42]:
data.describe()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
count,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.00000,299.000000,299.000000,299.00000,299.000000,299.00000
mean,60.833893,0.431438,581.839465,0.418060,38.083612,0.351171,263358.029264,1.39388,136.625418,0.648829,0.32107,130.260870,0.32107
std,11.894809,0.496107,970.287881,0.494067,11.834841,0.478136,97804.236869,1.03451,4.412477,0.478136,0.46767,77.614208,0.46767
min,40.000000,0.000000,23.000000,0.000000,14.000000,0.000000,25100.000000,0.50000,113.000000,0.000000,0.00000,4.000000,0.00000
25%,51.000000,0.000000,116.500000,0.000000,30.000000,0.000000,212500.000000,0.90000,134.000000,0.000000,0.00000,73.000000,0.00000
50%,60.000000,0.000000,250.000000,0.000000,38.000000,0.000000,262000.000000,1.10000,137.000000,1.000000,0.00000,115.000000,0.00000
75%,70.000000,1.000000,582.000000,1.000000,45.000000,1.000000,303500.000000,1.40000,140.000000,1.000000,1.00000,203.000000,1.00000
max,95.000000,1.000000,7861.000000,1.000000,80.000000,1.000000,850000.000000,9.40000,148.000000,1.000000,1.00000,285.000000,1.00000

In [43]:
data.isnull().any()

age                         False
anaemia                     False
creatinine_phosphokinase    False
diabetes                    False
ejection_fraction           False
high_blood_pressure         False
platelets                   False
serum_creatinine            False
serum_sodium                False
sex                         False
smoking                     False
time                        False
DEATH_EVENT                 False
dtype: bool

In [44]:
data.corr()["DEATH_EVENT"].abs().nlargest(20)

DEATH_EVENT                 1.000000
time                        0.526964
serum_creatinine            0.294278
ejection_fraction           0.268603
age                         0.253729
serum_sodium                0.195204
high_blood_pressure         0.079351
anaemia                     0.066270
creatinine_phosphokinase    0.062728
platelets                   0.049139
smoking                     0.012623
sex                         0.004316
diabetes                    0.001943
Name: DEATH_EVENT, dtype: float64

In [45]:
xdata = data.drop("DEATH_EVENT",axis=1)
ydata = data["DEATH_EVENT"]

x_train, x_test, y_train, y_test = train_test_split(xdata, ydata, test_size=0.3, random_state=0)

sc=StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

In [49]:
model = keras.Sequential()

model.add(keras.layers.Dense(7, activation='tanh'))
model.add(keras.layers.Dropout(0.1))
model.add(keras.layers.Dense(1, activation='sigmoid'))

model.compile(loss='binary_crossentropy', optimizer=keras.optimizers.Adam(), metrics=['accuracy'])
# print(y_train)
print(y_train.head())
model.fit(x_train, y_train, epochs=50,batch_size=16,verbose=1,validation_data=(x_test, y_test))

281    0
44     1
241    0
189    0
152    0
Name: DEATH_EVENT, dtype: int64

ValueError: Please provide as model inputs either a single array or a list of arrays. You passed: x=      age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  \
281  70.0        0                       582         0                 40
44   60.0        1                       588         1                 60
241  65.0        0                       582         1                 30
189  40.0        0                       244         0                 45
152  50.0        0                       115         0                 45
..    ...      ...                       ...       ...                ...
251  55.0        0                       572         1                 35
192  50.0        1                       121         1                 40
117  85.0        1                       102         0                 60
47   60.0        0                       582         1                 38
172  70.0        1                       171         0                 60

     high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  \
281                    0    51000.0               2.7           136    1
44                     0   194000.0               1.1           142    0
241                    0   249000.0               1.3           136    1
189                    1   275000.0               0.9           140    0
152                    1   184000.0               0.9           134    1
..                   ...        ...               ...           ...  ...
251                    0   231000.0               0.8           143    0
192                    0   260000.0               0.7           130    1
117                    0   507000.0               3.2           138    0
47                     1   451000.0               0.6           138    1
172                    1   176000.0               1.1           145    1

     smoking  time
281        1   250
44         0    33
241        1   212
189        0   174
152        1   118
..       ...   ...
251        0   215
192        0   175
117        0    94
47         1    40
172        1   146

[209 rows x 12 columns]